.stats {
  background-color: rgba(14, 22, 48, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.21);
  border-radius: 3px;
  margin-bottom: 1.5em;
}

.stats-numbers {
  @media (min-width: 37em) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  @media (min-width: 64em) {
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(6, 1fr);
  }
}

.stat-group {
  display: grid;
  grid-template-columns: max-content 1fr;
  padding: 0 1em 1em 1em;
  grid-gap: 0;
}

.category {
  grid-column: span 2;
}

.category,
.stat-value {
  color: #fff;
}

.stat-name {
  color: #bc8e2e;
}

.stat-name,
.stat-value {
  font-size: 1.25em;
  padding-bottom: 5px;
}

.stat-value {
  text-align: right;
}

.enhancements {
  grid-row: span 2;

  @media (min-width: 64em) {
    grid-row: span 1;
  }
}

.spell,
.attack {
  @media (min-width: 64em) {
    align-self: start;
  }
}
