.items {
  background-color: rgba(14, 22, 48, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.21);
  border-radius: 6px;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, max-content);
  grid-column-gap: 2em;
  grid-row-gap: 5px;

  @media (min-width: 37em) {
    grid-template-columns: max-content 1fr max-content;
    padding: 2em;
  }
}

h2 {
  grid-column: span 2;
  margin-top: 0;
  @media (min-width: 37em) {
    grid-column: span 3;
  }
}

.item-set-icons {
  grid-column: 1 / -1;
  margin-bottom: 1em;
  img {
    margin-right: 1em;
  }
}

h2,
.slot,
.name {
  color: #e8ae31;
}

.slot,
.name,
.price {
  font-size: 1.25em;
}

.name {
  justify-self: start;
}

.price {
  display: none;
  color: #fff;
  text-align: right;

  @media (min-width: 37em) {
    display: block;
  }
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1s;
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

.loading {
  background-color: rgba(14, 22, 48, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.21);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
